@import "tailwindcss";

@layer utilities {
  @keyframes spinSlow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spinSlow 14s linear infinite;
    transform-origin: center;
  }
}
